* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header {
  background-image: linear-gradient(to right, red, purple, blue);
}
.meet {
  width: 50%;
}

h1 {
  width: 35%;
}

.img {
  width: 15px;
}

.hero-1 {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 2px;
  border: none;
  padding-top: 2px;
}

.hero-2 {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  background-image: linear-gradient(to right, red, purple, blue);
  padding: 2px;
  border: 1px solid white;
  margin-left: 10px;
}

.img-1 {
  width: 200px;
  padding-top: 50px;
}

.section-1 {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-left: 100px;
  background-color: white;
}

.section-1 img {
  width: 25px;
}

.easy p {
  width: 85%;
}

.Guaranteed p {
  width: 80%;
}

.section-1 p {
  margin-left: 30px;
}

.section-2 {
  text-align: center;
  padding-top: 100px;
  background-color: rgb(214, 210, 210);
}

.section-2 img {
  width: 70px;
  border-radius: 35px;
}

.section-2 h2 {
  width: 60%;
  margin-left: 270px;
  padding-bottom: 30px;
}

.img-2 {
  width: 900px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin: 0 auto;
}

.text {
  text-align: center;
  padding-top: 40px;
}

.plan {
  font-size: 45px;
}

.price {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.chihuahua {
  border: 1px solid gray;
  width: 20%;
  text-align: center;
  border-radius: 10px;
}

.chihuahua p {
  background-color: rgb(228, 225, 225);
  border-bottom: 1px solid gray;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
}

.chihuahua button {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.Labrador {
  border: 1px solid gray;
  width: 20%;
  text-align: center;
  border-radius: 10px;
}

.Labrador p {
  background-color: rgb(228, 225, 225);
  border-bottom: 1px solid gray;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
}

.mastiff {
  border: 1px solid gray;
  width: 20%;
  text-align: center;
  border-radius: 10px;
}

.mastiff p {
  background-color: rgb(228, 225, 225);
  border-bottom: 1px solid gray;
  height: 30px;
  padding-top: 5px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

span {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
}

ol {
  list-style-type: none;
}

footer {
  background-image: linear-gradient(to right, red, purple, blue);
  height: 36vh;
}

.section {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer button {
  border: none;
  background: none;
  color: rgb(29, 28, 28);
}

button {
  cursor: pointer;
}

.tin {
  width: 10%;
  margin-bottom: 5.8em;
  margin-right: 4em;
}
@media (max-width: 600px) {
  body {
    background-color: white;
    padding: 20px;
  }
  .img-1 {
    width: 75px;
  }
  h1 {
    width: 50%;
    font-size: 15px;
  }
  .head {
    display: flex;
    gap: 0.1px;
    justify-content: center;
    align-items: center;
  }
  .hero-1 {
    width: 40%;
    font-size: 10px;
    height: 20px;
  }
  .hero-2 {
    width: 40%;
    font-size: 10px;
    height: 20px;
  }
  .img {
    width: 12px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    text-align: center;
    gap: 9px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .section-1 p {
    font-size: 15px;
  }
  .section-1 img {
    width: 20px;
    padding-top: 5px;
  }
  .section-2 {
    padding-top: 45px;
  }
  .section-2 h2 {
    margin-left: 40px;
    width: 80%;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .section-2 img {
    width: 30px;
    border-radius: 15px;
  }
  .para {
    font-size: 10px;
  }
  .class {
    font-size: 12px;
  }
  .img-2 {
    display: block;
    width: 25%;
  }
  .img-2 img {
    width: 50px;
  }
  .text {
    padding-top: 25px;
  }
  .simple {
    font-size: 15px;
  }
  .plan {
    font-size: 25px;
  }
  .price {
    display: block;
    margin-left: 65px;
  }
  .chihuahua {
    width: 80%;
  }
  .Labrador {
    width: 80%;
    margin-top: 50px;
  }
  .mastiff {
    width: 80%;
    margin-top: 50px;
  }
  footer {
    height: 25vh;
  }
  .section {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .tin {
    font-size: 15px;
  }
}
